<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.CartMapper">

	<resultMap type="com.example.domain.cart.model.MCart"
		id="cart">
		<result column="user_id" property="userId" />
		<result column="product_Id" property="productId" />
		<result column="quantity" property="quantity" />
	</resultMap>

	<!-- カート情報取得 -->
	<select id="findCart" resultMap="cart">
		SELECT 
			*
		FROM
			cart
		WHERE
			user_id = #{userId}
	</select>



</mapper>