<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
	<link rel="stylesheet" th:href="@{/css/login/S_LOGIN.css}">
	<!-- bootstrap読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- fontawesome読込 -->
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
	<!-- jQuery読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
	<!-- ここからヘッダー -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container col-10">
				<a class="navbar-brand ml-auto" href="#">Sneaks</a>
			</div>
			<div class="col-2"></div>
		</nav>
	</header>
	<!-- ここまでヘッダー -->
	<div class="main">
		<div class="content">
			<h1>ログイン</h1>
			<p>会員のお客様</p>
			<p>メールアドレスとパスワードを入力してログインして下さい</p>
			<form class="form-signin" role="form" id="login" th:action="@{/login}" method="post">
				<div class="id">
					<div class="mail">メールアドレス :</div>
					<input class="text" name="userId"  type="text">
				</div>
	
	
				<div class="pass">
					<div class="password">Password :</div>
					<input class="text" type="password" name="password">
				</div>
	
	
				<div class="login">
					<input type="submit" value="ログイン">
				</div>
	
				<div class="link">
					<a href="">パスワードをお忘れの方はこちら</a>
				</div>
			</form>
				<p>初めてご利用の方・会員以外の方</p>
	
				<div class="sinki">
					<input type="button" value="新規登録" th:attr="onClick='location.href=\''+@{/user/signup}+'\''">
				</div>
		</div>
	</div>
	<!-- ここからフッター -->
	<footer>
		<nav class="navbar-hooter">
			<!-- <div class="col-10">
            </div> -->
			<div class="container-footer">
				<!-- お問い合わせページのリンクを貼る -->
				<a class="text-white-footer" href="#">お問い合わせ</a>
			</div>
		</nav>
	</footer>
	<!-- ここまでフッダー  -->

</body>

</html>