<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/top/S_TOP.css}">
	<link rel="stylesheet" th:href="@{/css/top/slick.css}">
	<link rel="stylesheet" th:href="@{/css/top/slick-theme.css}">
	<!-- bootstrap読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- fontawesome読込 -->
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
	<!-- jQuery読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>TOP画面</title>
</head>

<body>
    <!-- ここからヘッダー -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container col-10 mr-auto">
                <!-- TOPページのリンクを貼る -->
                <a class="navbar-brand ml-auto" th:href="@{/products/top}">Sneaks</a>
            </div>
            <div class="col-auto">
                <ul class="navbar-nav">
                    <li>
                        <!-- ログイン画面のリンクを貼る -->
                        <a class="nav-item text-white" th:text="${userName}"></a>
                    </li>
                    <li>
                        <div class="bd-highlight mx-5">
                            <!-- カート一覧のリンクを貼る -->
                            <a class="fas fa-shopping-cart text-white" th:href="@{/cart/__${userId}__}"></a>
                        </div>
                    </li>
                </ul>
                <ul></ul>
                <ul class="navbar-nav">
                    <li>
                        <input type="text" class="p-0.5 bd-highlight input-medium search-quer" placeholder="Search"
                            value="">
                        <!-- 検索ロジック追加 -->
                        <button type="button" class="btn-light btn-outline-secondary btn-sm ">
                            <i class="fas fa-search"></i></button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ここまでヘッダー -->
	<script th:src="@{/js/top/slick.min.js}"></script>
	<script th:src="@{/js/top/top.js}"></script>

	<div class="top">
		<img th:src="@{/images/adidas.jpeg}" title="アディダス"> <img
			th:src="@{/images/nike.jpeg}" title="ナイキ"> <img
			th:src="@{/images/converse.jpeg}" title="コンバース">
	</div>
	<div class="new-arrival">
		<h1>NEW ARRIVALS</h1>
		<div class="new">
			<div class="first">
				<div class="arrivals" th:each="item:*{productsList}">
					<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 -->
					<a href="###"><img class="aaa" th:src="@{__${item.productImage1}__}"
						title="###"></a><br> <a href="###" th:text="${item.productName}"><br th:text="${item.price}">
					</a>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div class="ranking">
		<h1>RANKING</h1>
		<br>
		<ul class="r_scroll">
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/one.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/two.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/three.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/four.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/five.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/six.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/seven.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/eight.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/nine.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
			<li>
				<!-- 画像仮なのでDBから取り出す、画像・商品名・価格押下時に洗濯した商品の商品詳細に遷移 --> <img
				src="./ランキング数字/ten.png"> <a href="###"><img class="bbb"
					src="vans_authentic_black.jpg" title="###"></a><br> <a
				href="###">vans_authentic_black<br>¥10000
			</a>
			</li>
		</ul>
	</div>
	<!-- ここからフッター -->
	<footer>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="col-10"></div>
			<div class="container col-2">
				<!-- お問い合わせページのリンクを貼る -->
				<a class="text-white " href="#">お問い合わせ</a>
			</div>
		</nav>
	</footer>
	<!-- ここまでフッダー  -->
</body>

</html>